@font-face {
    font-family: 'Zuume';
    src:  url('/css/font/Zuume-Regular.woff')     
  }

  @font-face {
    font-family: 'texto';
    src:  url('/css/font/Wahyu\ and\ Sani\ Co.\ -\ Genera\ Alt\ Light.ttf')     
  }
